html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before,*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	font-family: arial, helvetica, sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100;Pink+3D+%233 */
	background: #e570e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat; /*Con estas dos lineas y el height dejo fijo el color en toda la pantalla*/
	background-attachment: fixed;
}

header {
	text-align: center;
	padding: 20px 0;
}

.contenedor {
	margin: 0 auto; /*Para centrar contenido*/
	width: 800px;
}

div.hero img {
	width: 100%;
}

h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 30px 0;
}

ul.lista-productos {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.lista-productos li {
	float: left;
	width: 50%;
	padding: 20px;
	text-align: center;
}

ul.lista-productos li:nth-child(odd){
	clear: both;
}

ul.lista-productos li img {
	border: 10px solid rgba(128,1,195,.45) ;
}

ul.lista-productos li img:hover {
	border: 10px solid #8001c3;
}

ul.lista-productos li p {
	color: white;
	font-weight: bold;
	font-size: 28px;
	margin-top: 10px;
}

ul.lista-productos li p span {
	color: #ffce00;
	font-size: 40px;

}

ul.lista-productos li a {
	width: 190px;
	display: inline-block;
	background-image: url(../img/images.jpg);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px 40px;
	margin-top: 10px;
	border-radius: 50px;
}

ul.lista-productos li a:hover {
	box-shadow: 2px 2px 10px 10px rgba(128,1,195,1);
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

footer {
	background-color: rgba(128,1,195,.7);
}

footer p.copyright {
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}